body.darkmode .yellowbg{
   background-color: #DD7230;
   border-color: #990D35;
}
body.darkmode .pinkbg{
   background-color:  #990D35;
   border-color: #DD7230;
}
body.darkmode h1{
    color: #F6F5AE ;
}
body.darkmode .sariborder{
    border: 4px solid #990D35 ;
    padding: 4vh;
}
body.darkmode .sariborderpink{
    border: 4px solid #DD7230;
    padding: 4vh;
}
body.darkmode .pieceCard{
    background-color: #143109 ;
}
body.darkmode button{
    background-color: #990D35;
}
body.darkmode .infocontainer{
    color:#F6F5AE
}
body.darkmode .pieceCard{
    color:#F6F5AE
}
body.darkmode .sari{
    background-color:#143109;
}
.sari button{
    margin: 2vh;
}